/* COLORS */

// Turquoise
$color-turquoise: #00dcba; // Background color
$turquoise-dark: #00c2a9; 
$turquoise-light: #61f5de;
$light-greenish-blue: #56f6d6;

// Blue
$color-blue: #20b5e6;
$blue-dark: #0098d0;
$blue-light: #56d5ff;
$tiffany-blue: #61f5de;
$dark-sky-blue: #20b5e6;
$color-teal: #039b8a;
$bluegreen: #02826a;
$cerulean-blue: #0067d8;
$true-blue: #002ab7;