/* COLORS */

// Exported from Zeplin
$strawberry: #e4323c;
$bubble-gum-pink: #ff6ca8;
$cerulean-blue: #0067d8;
$bluegreen: #02826a;
$very-light-pink: #c1c1c1;
$very-light-pink-two: #e1e1e1;
$strawberry-two: #e5333c;
$white: #f4f4f4;
$canary-yellow: #f7f248;
$true-blue: #002ab7;

// Turquoise
$color-turquoise: #00dcba; // Background color
$turquoise-dark: #00c2a9;
$turquoise-light: #61f5de;
$light-greenish-blue: #56f6d6;

// Blue
$color-blue: #20b5e6;
$blue-dark: #0098d0;
$blue-light: #56d5ff;
$tiffany-blue: #61f5de;
$dark-sky-blue: #20b5e6;
$color-teal: #039b8a;
$bluegreen: #02826a;
$cerulean-blue: #0067d8;
$true-blue: #002ab7;

// Red
$color-red: #ff4700;
$red-dark: #ff3000;
$red-light: #ff8c53;
$strawberry: #e4323c;
$strawberry-two: #e5333c;

// Orange
$color-orange: #ff9600;
$orange-dark: #ff7800;
$orange-trans: rgba(254, 120, 70, 0.9);
$orange-light: #ffbe0f;
$sunflower: #ffbe0f;
$tangerine: #ff9600;

// Pink
$color-pink: #ff115a;
$pink-dark: #e90048;
$pink-light: #ff3d6b;
$pink-red-two: #ff115a;
$bubble-gum-pink: #ff6ca8;

// Grey/White
$grey-white: #c1c1c1;
$grey-shadow: #e1e1e1;
$color-grey: #555555;
$grey-dark: #949494;
$color-white: #ebebeb;
$greyish-brown-70: rgba(85, 85, 85, 0.7);

// Game
$logo-color: #00c5c2;
$action-button: #555555;
$background-color: white;
$yellow: #f7f248;
