/* COLORS */

// Exported from Zeplin
$strawberry: #e4323c !default;
$bubble-gum-pink: #ff6ca8 !default;
$cerulean-blue: #0067d8 !default;
$bluegreen: #02826a !default;
$very-light-pink: #c1c1c1 !default;
$very-light-pink-two: #e1e1e1 !default;
$strawberry-two: #e5333c !default;
$white: #f4f4f4 !default;
$canary-yellow: #f7f248 !default;
$true-blue: #002ab7 !default;

// Turquoise
$color-turquoise: #00dcba !default; // Background color
$turquoise-dark: #00c2a9 !default;
$turquoise-light: #61f5de !default;
$light-greenish-blue: #56f6d6 !default;

// Blue
$color-blue: #20b5e6 !default;
$blue-dark: #0098d0 !default;
$blue-light: #56d5ff !default;
$tiffany-blue: #61f5de !default;
$dark-sky-blue: #20b5e6 !default;
$color-teal: #039b8a !default;
$bluegreen: #02826a !default;
$cerulean-blue: #0067d8 !default;
$true-blue: #002ab7 !default;

// Red
$color-red: #ff4700 !default;
$red-dark: #ff3000 !default;
$red-light: #ff8c53 !default;
$strawberry: #e4323c !default;
$strawberry-two: #e5333c !default;

// Orange
$color-orange: #ff9600 !default;
$orange-dark: #ff7800 !default;
$orange-trans: rgba(254, 120, 70, 0.9) !default;
$orange-light: #ffbe0f !default;
$sunflower: #ffbe0f !default;
$tangerine: #ff9600 !default;

// Pink
$color-pink: #ff115a !default;
$pink-dark: #e90048 !default;
$pink-light: #ff3d6b !default;
$pink-red-two: #ff115a !default;
$bubble-gum-pink: #ff6ca8 !default;

// Grey/White
$grey-white: #c1c1c1 !default;
$grey-shadow: #e1e1e1 !default;
$color-grey: #555555 !default;
$grey-dark: #949494 !default;
$color-white: #ebebeb !default;
$greyish-brown-70: rgba(85, 85, 85, 0.7) !default;

// Game
$logo-color: #00c5c2 !default;
$action-button: #555555 !default;
$background-color: white !default;
$yellow: #f7f248 !default;
