@import '_variables';

// Import customized Bootstrap
@import '_bootstrap';

body, html , #root{
    height: 100%;
}

#root {
    margin: 0 auto;
    // 9x16 aspect ratio
    max-width: calc(100vh * 0.5625);
    
    overflow-y: hidden;
    
    box-shadow: 0 0 37px #000;
}

.monospace {
    font-family: $font-family-monospace;
}

.hide {
    display: none;
}
