
// Timer Animation
.time-wrap {
	border: solid 1px #fafafa;
	margin: 0 auto;
	&.think,
	&.deliberate {
		height: 216px;

		&.running {
			.body {
				margin-top: 35px;
				background-color: $background-color;
			}
		}
	}

	&.running {
		display: none;
	}

	&.player {
		pointer-events: none;
		cursor: normal;
	}

	.body.pitch {
		color: white;
		display: inline-block;
		// margin-top: 48%;
		font-size: 16px;
		width: 100%;
		padding: 8px 6px;
		background-color: transparent;
		height: 48px;
		text-align: center;
		font-family: AvenirNext-DemiBold;
	}

	.active_player {
		font-size: 20px;
		padding: 4px;
		margin-top: 0px;
		width: 100%;
		background-color: $background-color;
		height: 48px;
		font-family: AvenirNext-Bold;
		text-shadow: 0 2px 0 $turquoise-dark;

		span {
			text-shadow: none;
			font-size: 16px;
			color: white;
			font-family: AvenirNext-Bold;
		}
	}

	button {
		@include button($bluegreen, $yellow);
		max-width: 196px;

		&.disabled {
			@include button($grey-white, $grey-shadow);
		}

		&.running {
			background: linear-gradient(90deg, $cerulean-blue, #000 0%);
		}

		&.done {
			background-image: none;
			background-color: $strawberry-two;
		}
	}

	svg {
		margin: 0px auto;
		margin-top: -40px;
		max-width: 152px;
	}

	h1 {
		font-family: $header-type;
		font-size: 16px;
		margin-top: 1%;
		font-family: AvenirNext-Bold;
	}

	p {
		color: white;
		display: inline-block;
		letter-spacing: -0.8px;
		font-size: 16px;
		width: 100%;
		padding: 8px 6px;
		background-color: $background-color;
		height: 48px;
		text-align: center;
		font-family: AvenirNext-DemiBold;

	}

	.progressbar-text {
		font-size: 46px;
		letter-spacing: -2.1px;
		margin-top: -76%;
		color: white !important;
		font-family: AvenirNext-DemiBold;
	}

	&.running {

		.timer {
			margin-top: 45px;
		}

		.progressbar-text {
			top: 44% !important;
		}

		.speech {
			position: relative;
			z-index: 1;
			margin-top: -58px;
		}

		p {
			font-family: Roboto;
			font-size: 19px;
			font-weight: bold;
			line-height: 1.21;
			letter-spacing: 0.5px;
			text-align: center;
			color: $cerulean-blue;

			&.body {
				margin: 0px;
				color: black;
				font-size: 13px;
				@include semibold-type;
			}

			&.active_player {
				text-shadow: 0 2px 0 $turquoise-dark;

				span {
					text-shadow: none;
					font-size: 16px;
					color: white;
					font-family: AvenirNext-Bold;
				}
			}

		}
	}
}